<form action="/users/edit" method="post" accept-charset="utf-8" id="user-edit-form">
	登入帳號：<%=@u.login%><br/>
	<div style="float: left;">學生證號<br/><input type="text" name="student_id" value="<%=@u.student_id%>" id="student_id"></div>
	<div style="float: left;">班級<br/><input type="text" name="student_class" value="<%=@u.student_class%>" id="student_class"></div>
	<div style="clear: both;">&nbsp;</div>
	<div style="float: left;">姓名<br/><input type="text" name="name" value="<%=@u.name%>" id="name"></div>
	<div style="float: left;">E-mail<br/><input type="text" name="email" value="<%=@u.email%>" id="email"></div>
	<div style="clear: both;">&nbsp;</div>
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>" id="authenticity_token">
	<input type="hidden" name="id" value="<%=@u.id%>" id="id">
	<p class="clearfix"><a href="#" class="button normal check" onclick="$('#user-edit-form').submit();  this.blur(); return false;" style="margin-right: 10px;"><span><span>儲存修改</span></span></a> <a href="#" class="button dark x" onclick="restore_user(<%=@u.id%>); return false;"><span><span>取消</span></span></a></p>
</form>
