<div style="text-align: center; border: 1px solid #000; width:900px;">
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" id="iTunesAlbumArt" align="middle" width="900" height="329">
  <param name="allowScriptAccess" value="always">
  <param name="allowFullScreen" value="false">
  <param name="movie" value="/coverflow/iTunesAlbumArt.swf">
  <param name="quality" value="high">
  <param name="wmode" value="opaque">
  <param name="bgcolor" value="#000000">
  <embed sap-type="flash" sap-mode="checked" sap="flash" src="/coverflow/iTunesAlbumArt.swf" quality="high" bgcolor="#000000" name="iTunesAlbumArt" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" align="middle" width="900" height="329" wmode="opaque">
</object>          
</div>

<div class="container" style="margin-top: 5px;">
	<div class="span-11" style="padding-right: 5px; border-right: 2px dashed #000;">
		<h2>圖書館部落格</h2>
		<ul style="margin-left: 30px;">
		<% @news.each do |news| %>
			<li id="news-<%=news.id%>"><a href="/news/show/<%=news.id%>"><%=news.title%></a> - <%=news.created_at.strftime("%Y-%m-%d")%></li>
		<% end %>
		</ul>
		<%=link_to '更多消息...', :controller => 'news'%>
	</div>
	<div class="span-12 last">
		<% if @current_user %>
		<h2>資訊快遞</h2>
		<ul style="margin-left: 30px;">
			<li>您目前共借閱 5 本書，2 本書即將到期。</li>
			<li>您還需要繳交 3 篇讀書心得。</li>
		</ul>
		<%=link_to '詳細資訊...', :controller => 'reader'%>
		<% else %>
		<h2>熱門書籍</h2>
		<% end %>
	</div>
</div>