<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection" charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print" charset="utf-8">
		<!--[if IE]><link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->
		<link rel="stylesheet" href="/webuikit-css/webuikit.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="/facebox/facebox.css" type="text/css" media="screen" charset="utf-8">
		<%= stylesheet_link_tag('stickies') %>
   		<script type="text/javascript" src="/javascripts/jquery.js" charset="utf-8"></script>
		<script type="text/javascript" src="/javascripts/jquery-ui.js" charset="utf-8"></script>
		<script type="text/javascript" src="/javascripts/jrails.js" charset="utf-8"></script>
		<script type="text/javascript" src="/facebox/facebox.js" charset="utf-8"></script>
	</head>
	<body>
		<div class="container" id="header">
			<div class="span-13" id="header-img">
				<img src="/images/img_sitetitle.png"/>
			</div>
			<div class="span-11 last" id="header-title">
				<ul>
					<li <%='class="menu-current"' if @in_homepage_function%>><a href="/">首頁</a></li>
					<li <%='class="menu-current"' if @in_books_function%>><a href="/books/search">搜尋書籍</a></li>
					<li <%='class="menu-current"' if @in_reader_function%>><a href="/reader">讀者服務</a></li>
					<li <%='class="menu-current"' if @in_contact_function%>><a href="#">聯絡我們</a></li>
					<% if @current_user && @current_user.permission > 0%>
					<li class="menu-backstage<%="-current" if @in_admin_function%>"><a href="/admin">後臺區</a></li>
					<% end %>
				</ul>
			</div>
		</div>

		<div class="container">
			<div class="span-23 last" id="content">
				<div class="container">
					<div class="span-23 last" id="session_bar">
						<% if @current_user %>
						 <a href="/logout"><img src="/images/img_power.png" width="20" height="20">登出</a> 您好，<%=@current_user.nickname || @current_user.name || @current_user.login%>(<%=@current_user.student_id%>) <% if @current_user.permission == 2 %><span style="color: red;">系統管理員</span><% end %><% if @current_user.permission == 1 %><span style="color: red;">工作人員</span><% end %>
						<% else %>
							<%= facebox_link_to "登入 <img src=\"/images/img_power.png\" width=\"20\" height=\"20\" align=\"top\" />", {:url => '/login'}, :id => 'login-link' %> 後才能使用使用個人化服務。
						<% end %>
					</div>
				</div>
				<div class="container">
					<div class="span-23 last">
						<%=render_stickies :effect => "blindUp", :close => '關閉'%>
					</div>
				</div>
				<%=yield%>
			</div>
		</div>

		<div class="container">
			<div class="span-24 last" id="footer">
				eLib<sup>2</sup>, ZZHC 2008. Powered by Ruby on Rails.
			</div>
		</div>		
	</body>
</html>
