<h1>讀者服務與資訊</h1>

<h2>您的個人資料</h2>
<div style="font-size: 1.2em; border-top: 1px solid #000;">
	以下個人資料若有疑問，請向我們聯絡。以免您的借閱權利受到損害。<br/>
	登入帳號：<%=@u.login%><br/>
	學生證號：<%=@u.student_id%><br/>
	班級：<%=@u.student_class%><br/>
	姓名：<%=@u.name%><br/>
	E-mail：<%=@u.email%><br/>
</div>
<br/>

<h2>您最近的借閱記錄</h2>
<div id="book-list" class="table">
	<div class="thead">
		<div class="container">
			<div class="span-10">書名</div>
			<div class="span-4">ISBN</div>
			<div class="span-4">借出日期</div>
			<div class="span-4">歸還日期</div>
		</div>
	</div>	
	<% @r.each do |r| %>
		<div class="tbody">
			<div class="container">
				<div class="span-10"><%=r.book.title%></div>
				<div class="span-4"><%=r.book.isbn%></div>
				<div class="span-4 last"><%=r.start_date.strftime("%Y/%m/%d")%></div>
				<div class="span-4 last"><%if r.end_date%><%=r.end_date.strftime("%Y/%m/%d")%><%else%><span style="color: red;">尚未歸還</span><%end%></div>
			</div>	
		</div>
	<% end %>
</div>
<a href="/reader/rentlogs">更多紀錄...</a>
<br/>
<br/>
<h2>您撰寫過的讀書心得</h2>
<div id="book-list" class="table">
	<div class="thead">
		<div class="container">
			<div class="span-7">書名</div>
			<div class="span-9">內容</div>
			<div class="span-4">撰寫日期</div>
			<div class="span-3">分數</div>
		</div>
	</div>	
	<% @c.each do |c| %>
		<div class="tbody">
			<div class="container">
				<div class="span-7"><%=c.commentable.title%></div>
				<div class="span-9"><%=c.comment.chars[0..10]%>... (<a href="/reader/read/<%=c.id%>">完整內容</a>)</div>
				<div class="span-4"><%=c.created_at.strftime("%Y/%m/%d")%></div>
				<div class="span-3 last"><%if c.score%><%=c.score%><%else%><span style="color: red;">尚未評分</span><%end%></div>
			</div>	
		</div>
	<% end %>
</div>
<a href="/reader/list">更多紀錄...</a>
